<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hiberante.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/location_materiel</property>
        <property name="connection.username">root</property>
        <property name="connection.password">monsql</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- on montre les request SQL -> ne pas activer en prod !!!! -->
        <property name="show_sql">true</property>

        <mapping class="org.locationmateriel.models.ClientEntity"/>
        <mapping class="org.locationmateriel.models.AdresseEntity"/>
        <mapping class="org.locationmateriel.models.MaterielEntity"/>
        <mapping class="org.locationmateriel.models.FicheLocationEntity"/>
    </session-factory>
</hibernate-configuration>